* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*css fuente*/
    .poppins-thin {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: normal;
      }
      
      .poppins-extralight {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: normal;
      }
      
      .poppins-light {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
      
      .poppins-regular {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
      
      .poppins-medium {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: normal;
      }
      
      .poppins-semibold {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: normal;
      }
      
      .poppins-bold {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: normal;
      }
      
      .poppins-extrabold {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: normal;
      }
      
      .poppins-black {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: normal;
      }
      
      .poppins-thin-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 100;
        font-style: italic;
      }
      
      .poppins-extralight-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 200;
        font-style: italic;
      }
      
      .poppins-light-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 300;
        font-style: italic;
      }
      
      .poppins-regular-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: italic;
      }
      
      .poppins-medium-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-style: italic;
      }
      
      .poppins-semibold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-style: italic;
      }
      
      .poppins-bold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-style: italic;
      }
      
      .poppins-extrabold-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 800;
        font-style: italic;
      }
      
      .poppins-black-italic {
        font-family: "Poppins", sans-serif;
        font-weight: 900;
        font-style: italic;
      }


      /*
      PALETA DE COLORES A USAR 
      #FFF2D8
      #EAD7BB
      #BCA37F
      #113946
      */
 
/* Paleta de colores */
:root {
  --color-bg: rgb(10, 78, 101); /* #BCA37F */
  --color-text-light: white;
  --color-footer-bg: rgb(10, 78, 101); /* #BCA37F */
}

/* Estilos del nav */
.bgColor {
  background-color: var(--color-bg);
}

.navbar {
  font-size: 1rem;
  padding: 1rem;
}

.navbar-brand {
  font-size: 1.5rem; /* Ajuste de tamaño para pantallas grandes */
}

.navbar-nav {
  margin-right: 7%;
}

ul.dropdown-menu {
  background-color: var(--color-bg);
}

.a {
  text-decoration: none;
  color: var(--color-text-light);
}

.caja1 {
  color: var(--color-text-light);
  font-size: 2rem;
  padding-left: 5%;
}

.caja2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding-right: 5%;
}

.titulo {
  font-size: 2rem;
}

.carousel-caption {
  height: 40%;
  align-items: center;
}

img {
  width: 100%;
  max-height: 90vh;
}

.foot {
  background-color: var(--color-footer-bg);
  height: 10%;
}

.lista {
  list-style: none;
  padding: 1%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.lista li {
  display: inline-block;
  margin-right: 10px;
}

/* Media Queries para hacer la página responsiva */
@media (max-width: 768px) {
  .navbar-brand {
      font-size: 1rem; /* Ajuste de tamaño para pantallas pequeñas */
  }

  .navbar-nav {
      margin-right: 0;
  }

  .navbar-toggler {
      margin-right: 1rem;
  }

  .navbar-collapse {
      background-color: var(--color-bg);
  }

  .carousel-caption {
      height: auto;
      padding: 1rem;
  }

  .carousel-caption h5 {
      font-size: 1.5rem;
  }

  .carousel-caption p {
      font-size: 1rem;
  }

  .lista {
      flex-direction: column;
      align-items: center;
  }

  .lista li {
      margin: 0.5rem 0;
  }
}
  
  