body {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    background-image: url(../assets/imagenes/Bodegon01.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; /* Centra la imagen de fondo */
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* Evitar el desbordamiento vertical */
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.login-container, .register-container {
    width: 80%;
    max-width: 400px;
    margin: 8px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(249, 249, 249, 0.75);
    font-weight: bold;
    box-sizing: border-box;
}

h2 {
    text-align: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    margin-bottom: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

input[type="submit"]{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box; /* Añadir esto para que el padding esté incluido en el tamaño del botón */
}

.forgot-password {
    text-align: center; /* Centrar el contenido horizontalmente */
    margin-top: 10px;   /* Agregar un margen superior si es necesario */
  }
  
  .forgot-password a {
    display: inline-block; /* Asegurar que los enlaces se comporten como elementos en línea bloque */
    margin: 5px 0;         /* Agregar un margen superior e inferior */
  }
  
  .forgot-password p {
    margin: 5px 0;         /* Agregar un margen superior e inferior */
  }
  

/* .btn-cancelar a {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 39.5%;
    padding-right: 39.5%;
    border: none;
    border-radius: 5px;
    background-color:  #f80505;
    color: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box; Añadir esto para que el padding esté incluido en el tamaño del botón
} */
.btn-cancelar a {
    display: block; /* Asegura que el enlace se comporte como un bloque */
    width: 100%; /* Haz que el enlace ocupe todo el ancho del contenedor */
    padding: 10px; /* Asegura un padding consistente */
    border: none;
    border-radius: 5px;
    background-color: #f80505;
    color: white;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-decoration: none;
    box-sizing: border-box;
}

input[type="submit"]:hover{
    background-color: #45a049;
}

.btn-cancelar {
    margin-top: 15px;
}

.btn-cancelar a {
    background-color: #f80505;
}

.btn-cancelar a:hover {
    background-color: #e60303;
}

@media (max-width: 600px) {
    .register-container {
        width: 95%;
        padding: 15px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
        padding: 8px;
    }

    input[type="submit"]{
        padding: 10px; /* Ajustar el padding del botón rojo */
    }
}